
html, body {
  margin:0;
  padding:0;
  background: #E5E5E5;
}

.content {
  width: 80%;
  max-width: 1200px;
  margin: 62px auto;
}

.logo {
  max-width: 120px;
  max-height: 120px;
}

/* Makes our label white. */
.blocklyTreeLabel {
    color: black;
  }
  /* Adds padding around the group of categories and separators. */
  /* .blocklyToolboxContents {
    padding: .5em;
  } */
  /* Adds space between the categories, rounds the corners and adds space around the label. */
  .blocklyTreeRow {
    padding: 3px;
    margin-bottom: 1em;
    border-radius: 3px;
  }
  /* Changes color of the icon to white. */
  .customIcon {
    color: rgb(0, 0, 0);
    padding-bottom: 5px;  
  }
  /* Stacks the icon on top of the label. */
  .blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-left: 10px;
    padding-right: 10px;
  }
  .blocklyTreeRow {
    height: initial;
  }

  #capacityBubble {
    position: absolute;
    top: 375px;
    width: 380px;
  }

  /* Body Stuff */
  #blocklyDiv {
    margin-top: 3.8em;
    position: fixed; 
    bottom: 10px;
  }

  .game-control
  { 
    position: relative;
    float: right; 
    margin-right: 1em;
  }

  #stepButton {
    width: 110px
  }

  #pg0 {
    color:rgb(0, 0, 0); 
    display: inline;
  }

  #pg1 {
    color:rgb(0, 0, 0); 
    display: none;
  }

  #pg2 {
    color:rgb(0, 0, 0); 
    display: none;
  }

  #pg3 {
    color:rgb(0, 0, 0); 
    display: none;
  }

  #btn0 {
    display: inline;
  }

  #btn1 {
    display: none;
  }

  #btn2 {
    display: none;
  }

  #btn3 {
    display: none;
  }

  #canvas1 {
    position: relative;
    border-radius: 10px;
  }
  #capacity {
    display: none;
    color: #fff;
    padding: 5px 1em;
    border-radius: 15px;
    background-color: rgba(64,64,64,.7);
    font-size: large;
  }

  .mod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 20px;
    border-width: 5px;
    border-color: #000;
  }

  
/* Modal Content */
.mod-content {
    background-color: #E5E5E5;
    margin: auto;
    color: rgba(0,0,0,0.4);
    /* color: #000; */
    padding: 20px;
    border: 1px solid #E5E5E5;
    width: 55%;
    max-width: 55%;
  }

.intro-modal-content {
    background-color: #E5E5E5;
    color:rgb(0, 0, 0); 
    margin: auto;
    padding: 20px;
    border: 1px solid #E5E5E5;
    width: 50%;
    max-width: 50%;
  }

.modal-body {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color:rgb(0, 0, 0); 

}

.intro-1 {
    font-size: 20px
}

.intro-2 {
    font-size: 13px
}


.navbar-custom {
  background-color: #F37341;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.822);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.code-view {
  background: #FFFFFF;
  border: 1px solid #D6C7C7;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 14px;
  transition: 0.5s;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  color: #F37341;  

}

.code-view img {
  margin-bottom: 5px; 
}

.code-view span{ 
  margin: 5px;
}

.btn-primary {
  background: #F37341;  
  border: 1px solid #E5E5E5;  
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline;
  font-size: 15px;
  font-weight: 200;
  line-height: 16px;
  /* margin-right: 20px; */
  padding: 6px 20px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #fff;
  background-position: 0 0;
  color: #000; 
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}